alembic==1.13.0
fastapi==0.104.1
httpx==0.24.1 # naar requirements-test.in verplaatsen
pydantic-settings==2.1.0
pydantic-geojson
psycopg2-binary==2.9.9
pytest # naar requirements-test.in verplaatsen
requests # naar requirements-test.in verplaatsen
uvicorn[standard]==0.24.0
